@import url(base.css);

h1 {
  font-size: 200%;
  margin: 8px 0px;
}

img {
  border-radius: 12px;
}

article {
  background-color: #141414;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

article:hover {
  transform: scale(1.01);
}

span {
  margin-right: 4px;
}

.genre {
  background-color: #333;
  color: white;
  padding: 8px;
  border-radius: 12px;
  display: inline-block;
}
